<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <form method="POST" enctype="multipart/form-data">
        <label>
          Image:
          <input type="file" name="avatar">
        </label>
        <label>
          Event Name:
          <input name="eventName">
        </label>
        <label>
          Event Location:
          <input name="eventLocation">
        </label>
        <label>
            Event Date:
            <input name="eventDate", type="date" >
          </label>
          <label>
            Event Time:
            <input name="eventTime", type="time">
          </label>
          <br>
          <label>
            Event Description:
            <input name="eventDescription">
          </label>
          <br>
            <input type="submit">
        </form>
</body>
</html>