<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- Home Title -->
    <h1>this is a simple landing page</h1>
    <!-- Signup Button -->
    <a href="/signup"> 
        <button>
            SIGNUP
        </button>
    </a>
    <br>
    <!-- Login Button -->
    <a href="/login"> 
        <button>
            LOGIN
        </button>
    </a>
    <!-- Error Handling Message -->
    <p>
        ${errorMsg}
    </p>

</body>
</html>