<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
      <label>
        User Name:
        <input name="username">
      </label>
      <label>
        Password:
        <input type="password" name="password">
      </label>
        <br>
        <input type="submit" value="Login" >
        <input type="reset">
      </form>
      <!-- Error Handling Message -->
      <p>
        ${errorMsg}
      </p>
</body>
</html>