<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- Profile Title -->
    <h1>profile ${name}</h1>
    <br>
    <!-- Create Event Button -->
    <a href="/profile/createevent"> 
        <button>
            CREATE EVENT
        </button>
    </a>
    <br>
    <!-- Browse Events Button -->
    <a href="/profile/listevents"> 
        <button>
            BROWSE EVENTS
        </button>
    </a>
    <br>
    <!-- View Your Events Button -->
    <a href="/profile/createevent"> 
        <button>
            VIEW YOUR EVENTS
        </button>
    </a>
    <br>
    <!-- Logout Button -->
    <a href="/logout"> 
        <button>
            LOGOUT
        </button>
    </a>

</body>
</html>