<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <!-- Error Handling Message -->
  <p class="error-msg">
    ${errorMsg}
  </p>
  <form method="POST">
    <label>
      First Name:
      <input name="firstName">
    </label>
    <br>

    <label>
      Last Name:
      <input name="lastName">
    </label>
    <br>

    <label>
      Organization:
      <input name="organization" type="text">
    </label>
    <br>

    <label>
      Email:
        <input name="email" type="text">
    </label>
    <br>

    <label>
      Phone Number:
      <input type="text" name="phoneNumber">
    </label>
    <br>

    <label>
      Username:
      <input type="username" name="username" required>
    </label>
    <br>
    
    <label>
      Password:
      <input type="password" name="password"  required >
    </label>
    <br>

    <input type="submit" value="login" >

  </form>
    
</body>
</html>