<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <title>Document</title>
</head>
<body>
     <!-- NAVBAR -->
    
     <nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#">
            <img class="nav-icon" src="" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="/profile">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
            </ul>
        </div>
    </nav>
        <div class="row justify-content-center conatiner mt-4 mb-4">
            <div class="col-sm-8">
                <div class="card">
                    <div>
                        <img class="card-img-top" src="/images/uploads/${oneEvent.event_image}" alt="">
                        <h1 class="text-center event-title mt-4 mb-1">${eventName}</h1>
                    </div>
                    <div class="card-body text-muted mt-2 mb-1 pb-1">
                        <h2 class="details-header">
                            Details
                        </h2>
                        ${oneEvent.event_description}
                    </div>
                    <hr>
                    <p class="card-text event-card-text text-left text-muted ml-3"> 
                        <i class="mr-1 text-muted"><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'><title>ionicons-v5-j</title><path class="event-icon" d='M258.9,48C141.92,46.42,46.42,141.92,48,258.9,49.56,371.09,140.91,462.44,253.1,464c117,1.6,212.48-93.9,210.88-210.88C462.44,140.91,371.09,49.56,258.9,48ZM385.32,375.25a4,4,0,0,1-6.14-.32,124.27,124.27,0,0,0-32.35-29.59C321.37,329,289.11,320,256,320s-65.37,9-90.83,25.34a124.24,124.24,0,0,0-32.35,29.58,4,4,0,0,1-6.14.32A175.32,175.32,0,0,1,80,259C78.37,161.69,158.22,80.24,255.57,80S432,158.81,432,256A175.32,175.32,0,0,1,385.32,375.25Z'/><path class="event-icon" d='M256,144c-19.72,0-37.55,7.39-50.22,20.82s-19,32-17.57,51.93C191.11,256,221.52,288,256,288s64.83-32,67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39,151.44,275.59,144,256,144Z'/></svg></i>
                        organization
                    </p>
                    <p class="card-text text-muted event-card-text text-left ml-3 mb-3"> 
                        <i class="mr-1 text-muted"> <svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path class="event-icon" d='M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z' style='fill:none;stroke:rgb(148, 146, 146);stroke-miterlimit:10;stroke-width:32px'/><polyline points='256 128 256 272 352 272' style='fill:none;stroke:rgb(148, 146, 146);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></i>
                        ${oneEvent.event_time}
                    </p>

                </div>
           
                    


            </div>
        </div>
  
    <div class="row justify-content-center conatiner mt-4 mb-4">
        <div class="col-sm-8">
            <div class="card ">
                <div class="mt-2 mb-2"> 
                    <h2 class="card-title volunteer-title p-1 pl-2">Volnteer Opportunities</h2>
                    <hr class="mt-2">
                </div>
                ${tasksForEvent.map(item => 
                    `
                    <form method="POST" >
                        <input name="taskID" value="${item.task_id}" hidden>
                        <input name="tasksForEvent" value="${tasksForEvent}" hidden>
                        <input name="eventID" value="${eventID}" hidden>
                        <input name="eventName" value="${eventName}" hidden>
                        
                            <div class="card-body ">
                                <div class="row ">
                                    <div class="col text-center">
                                        <p class="card-title ">
                                            ${item.task}
                                        </p>
                                    </div>
                                    <div class="col">
                                        <input type="submit"class="btn btn-primary volunteer-btn text-center" value='VOLUNTEER FOR THIS TASK'/>
                                        
                                    </div>
                                </div>
                            </div>
                       
                    </form>
                    `
                    ).join('')}
                </div>
            </div>
        </div>
        <br>
    </div>


 

</body>
</html>