<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <link rel="shortcut icon" href="/checkmark.jpeg" type="image/x-icon">
    <style>
        .hidden {
            display: none;
        }
        </style>
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">    
</head>

<body>
     <!-- NAVBAR -->
    
     <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="/profile">
            <img height="50" width="50" src="/images/Black Circle with Utensils Restaurant Logo (6).png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="/profile">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
            </ul>
        </div>
    </nav>
    <div class="container events-container mt-5">
        <h1 class="text-center pt-4 events-header">EVENTS YOU'VE CREATED</h1>
        <hr>
        <!-- <div class="container "> -->
            <div class="row card-row justify-content-center ">
                ${allCreatorEvents.length > 0 ? (
                    allCreatorEvents.map(item => 
                    `
                <div class="col-sm-12 col-md-8 col-lg-4 d-flex align-items-stretch">

                    <div class="card event-card text-center ">

                        <!-- Card content -->
                        <div class="event-body ">
                      
                          <!-- Avatar -->
                      
                          <!-- Content -->
                          <div class="container">
                      
                            <!-- Title -->
                            <h4 class="card-title mb-2 text-left event-title"> ${item.event_name}</h4>
                            <!-- Subtitle -->
                            <p class="card-text event-card-text text-left text-muted"> 
                                <i class="mr-1 text-muted"><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'><title>ionicons-v5-j</title><path class="event-icon" d='M258.9,48C141.92,46.42,46.42,141.92,48,258.9,49.56,371.09,140.91,462.44,253.1,464c117,1.6,212.48-93.9,210.88-210.88C462.44,140.91,371.09,49.56,258.9,48ZM385.32,375.25a4,4,0,0,1-6.14-.32,124.27,124.27,0,0,0-32.35-29.59C321.37,329,289.11,320,256,320s-65.37,9-90.83,25.34a124.24,124.24,0,0,0-32.35,29.58,4,4,0,0,1-6.14.32A175.32,175.32,0,0,1,80,259C78.37,161.69,158.22,80.24,255.57,80S432,158.81,432,256A175.32,175.32,0,0,1,385.32,375.25Z'/><path class="event-icon" d='M256,144c-19.72,0-37.55,7.39-50.22,20.82s-19,32-17.57,51.93C191.11,256,221.52,288,256,288s64.83-32,67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39,151.44,275.59,144,256,144Z'/></svg></i>
                                organization
                            </p>
                            <p class="card-text text-muted event-card-text text-left"> 
                                <i class="mr-1 text-muted"> <svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path class="event-icon" d='M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z' style='fill:none;stroke:rgb(148, 146, 146);stroke-miterlimit:10;stroke-width:32px'/><polyline points='256 128 256 272 352 272' style='fill:none;stroke:rgb(148, 146, 146);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></i>
                                ${item.event_time}
                            </p>
                      
                          </div>
                          
                        </div>
                          
                          <!-- Card image -->
                          <div class="view overlay justify-content-center mt-3">
                              <img class="card-img-top event-card-img rounded-0" src="/images/uploads/${item.event_image}" alt="Card image cap">
                              <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            
                        <!-- Card content -->
                        <div class="card-body event-desc-container ml-1 mr-1">
                            <!-- Text -->
                            <p class="text-left event-desc text-muted"> ${item.event_description}</p>
                        </div>
                        <div class="mt-0">
                            <hr class="mt-0">
                                <input class="btn btn-primary view-event-btn editEvent" type="submit" value='Edit Event'/>
                        </div>
                    </div>
                </div>
                `
                ).join(''))
                : ''
                
            }
        </div>
    </div>



<div class="container events-container mt-5 mb-5">
    <h1 class="text-center pt-4 events-header">EVENTS YOU'RE ATTENDING</h1>
    <hr>
    <!-- <div class="container "> -->
        <div class="row card-row justify-content-center ">
            ${formatParticipantEventCards.length > 0 ? (
                formatParticipantEventCards.map(event => 
                `
            <div class="col-sm-12 col-md-8 col-lg-4 d-flex align-items-stretch">

                <div class="card event-card text-center ">

                    <!-- Card content -->
                    <div class="event-body ">
                  
                      <!-- Avatar -->
                  
                      <!-- Content -->
                        <div class="container">
                  
                        <!-- Title -->
                            <h4 class="card-title mb-2 text-left event-title"> ${event.event_name}</h4>
                            <!-- Subtitle -->
                            <p class="card-text event-card-text text-left text-muted"> 
                                <i class="mr-1 text-muted"><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'><title>ionicons-v5-j</title><path class="event-icon" d='M258.9,48C141.92,46.42,46.42,141.92,48,258.9,49.56,371.09,140.91,462.44,253.1,464c117,1.6,212.48-93.9,210.88-210.88C462.44,140.91,371.09,49.56,258.9,48ZM385.32,375.25a4,4,0,0,1-6.14-.32,124.27,124.27,0,0,0-32.35-29.59C321.37,329,289.11,320,256,320s-65.37,9-90.83,25.34a124.24,124.24,0,0,0-32.35,29.58,4,4,0,0,1-6.14.32A175.32,175.32,0,0,1,80,259C78.37,161.69,158.22,80.24,255.57,80S432,158.81,432,256A175.32,175.32,0,0,1,385.32,375.25Z'/><path class="event-icon" d='M256,144c-19.72,0-37.55,7.39-50.22,20.82s-19,32-17.57,51.93C191.11,256,221.52,288,256,288s64.83-32,67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39,151.44,275.59,144,256,144Z'/></svg></i>
                                organization
                            </p>
                            <p class="card-text text-muted event-card-text text-left"> 
                                <i class="mr-1 text-muted"> <svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 512 512'><title>ionicons-v5-c</title><path class="event-icon" d='M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z' style='fill:none;stroke:rgb(148, 146, 146);stroke-miterlimit:10;stroke-width:32px'/><polyline points='256 128 256 272 352 272' style='fill:none;stroke:rgb(148, 146, 146);stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></i>
                                ${event.event_time}
                            </p>
                  
                      </div>
                  
                    </div>
                  
                    <!-- Card image -->
                    <div class="view overlay justify-content-center mt-3">
                      <img class="card-img-top event-card-img rounded-0" src="/images/uploads/${event.event_image}" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  
                    <!-- Card content -->
                 
                        <!-- Text -->
                        <div class="text-center container event-desc-container card-body">
                            <p class="text-left event-desc text-muted" id="collapseContent"> ${event.event_description}</p>
                        </div>
                        <div>
                            <hr class="mt-0">
                            <button class="btn btn-primary view-tasks-btn mt-0 mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                View Tasks You Have Volunteered For
                            </button>
                        </div>
                        <!-- TASKS -->

                        <div class="collapse mt-0" id="collapseExample">
                            ${event.tasks.map(task => `
                                <div class="card-body mt-0"> 
                                    <form method="POST">
                                        <div class="row ">
                                            <div class="col text-center">
                                                <p class="card-title task-text">
                                                    ${task.task}
                                                </p>
                                            </div>
                                            <div class="col">
                                                <input name="taskID" type="" value="${task.task_id}" hidden/>
                                                <input  name="task_action" type="hidden" value="delete">
                                                <input class="btn btn-primary rm-tasks-btn" type="submit" value="remove" />  
                                            </div>
                                        </div>
                                    </form>                                      
                                </div>
                            ` 
                            ).join('')}
                        </div>
                      
                </div>
            </div>
                `
            ).join(''))
            : ''
            
            }
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


<script>
const allTheSubmits = document.querySelectorAll('.editEvent');
console.log(allTheSubmits)
allTheSubmits.forEach(button => {
    button.addEventListener("click", (event) => {
    button.value = "Save Changes!";
    event.preventDefault()
    button.type = 'submit';
    const submit = button.parentElement.querySelector('.hidden')
    console.log(submit)

    submit.classList.remove('hidden')
    button.classList.add('hidden')
    const input = button.parentElement.querySelectorAll('.edit');

    input.forEach(item => {
        item.disabled = false 
        item.setAttribute('style', 'background-color: #d8ebed')
    })
    console.log('I clicked the button!');

    }) 

    

})



</script>



</html>